html, body {
    background-color: #ffffff;
    height: 100%;
}

.avatar {
    width: 45px;
    height: 45px;
    padding-right: 15px;
    vertical-align: middle;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 100%;
}

#body-container {
    min-height: 100%;
}

table {
    width: 100%;
    padding: 10px;
    border-collapse:separate;
    border:solid #555555 1px;
    border-radius:15px;
    -moz-border-radius:15px;
}

table tr:nth-child(odd) {
    background-color:#eee;
}

table tr:nth-child(even) {
    background-color:#fff;
}


.user table th:nth-last-child(2), .org table th:nth-last-child(2)  {
    width: 180px;
}

.user table th:last-child, .org table th:last-child, .everything table th:last-child   {
    width: 220px;
}

.user table td:last-child, .org table td:last-child, .everything table td:last-child   {
    padding: 5px 5px 5px 15px;
    text-align: left;
}

.user table th:first-child, .org table th:first-child, .everything table th:first-child   {
    width: 300px;
}

.copy-button {
    display: inline;
    width: 18px;
    height: 18px;
    border: 0;
    vertical-align: middle;
    padding-bottom: 3px;
}

a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #f22;
}

.repo_links {
    padding: 2px;
    font-size: 8pt;
    color:  #0099ff;
}

.repo_links a {
    color: #0066ff;
}

h2 {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    line-height: 30px;
}

div .org {
    padding-top: 45px;
}

div .everything {
    padding-top: 45px;
    padding-bottom: 45px;
}

div .login {
    font-size: 36pt;
    font-weight: bold;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse:separate;
    border:solid #555555 1px;
    border-radius:15px;
    -moz-border-radius:15px;
    background-color:#eee;

}

#header {
    padding-bottom: 35px;
}


#footer {
    padding-top: 35px;
    text-align: center;
    color: #aaaaaa;
    font-weight: bold;
}

#footer a {
    color:  #0099ff;
}


table.tablesorter .tablesorter-header {
    background-repeat: no-repeat;
    background-position: center right 5px;
    cursor: pointer;
}

table.tablesorter thead tr th.tablesorter-headerAsc {
    background-image: url('/static/images/asc.gif');
}

table.tablesorter thead tr th.tablesorter-headerDesc {
    background-image: url('/static/images/desc.gif');
}

table.tablesorter thead tr th.tablesorter-headerAsc, table.tablesorter thead tr th.tablesorter-headerDesc {
    background-color: #8dbdd8;
}

