{% extends "layout.html" %}
{% block body %}
<h1>EntWeb</h1>


<div class="user">
<h2>User's Repos</h2>
<table>
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>&nbsp;</th>
    </thead>

    <tbody>
{% for repo in user_repos %}
        <tr>
            <td><a href="{{ repo.html_url|safe }}">{{ repo.name }}</a></td>
            <td>{{ repo.description}}</td>
            <td>{{ repo.updated_at }}</td>
            <td><input type="text" value="{{ repo.ssh_url|safe }}"></input><input type="image" src="{{ url_for('static', filename='images/copy.svg') }}" class="copy-button" data-clipboard-text="{{ repo.ssh_url|safe }}" title="Click to copy git url." /></td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>


{% for org in org_repos %}
<div class="org">
<h2><a href="{{ org.html_url|safe }}">{{ org.login }}</a></h2>
<table>
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>&nbsp;</th>
    </thead>

    <tbody>
    {% for repo in org.repos %}
        <tr>
            <td><a href="{{ repo.html_url|safe }}">{{ repo.name }}</a></td>
            <td>{{ repo.description }}</td>
            <td>{{ repo.updated_at }}</td>
            <td><input type="text" value="{{ repo.ssh_url|safe }}"></input><input type="image" src="{{ url_for('static', filename='images/copy.svg') }}" class="copy-button" data-clipboard-text="{{ repo.ssh_url|safe }}" title="Click to copy git url." /></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endfor %}

<div class="everything">
<h2>Everything...</h2>
<table>
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>&nbsp;</th>
    </thead>

    <tbody>
{% for repo in all_repos %}
        <tr>
            <td><a href="{{ repo.owner.html_url|safe }}">{{ repo.owner.login }}</a>/<a href="{{ repo.html_url|safe }}">{{ repo.name }}</a></td>
            <td>{{ repo.description }}</td>
            <td><input type="text" value="{{ repo.ssh_url|safe }}"></input><input type="image" src="{{ url_for('static', filename='images/copy.svg') }}" class="copy-button" data-clipboard-text="{{ repo.ssh_url|safe }}" title="Click to copy git url." /></td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
